body {
	background-color: #f9f9f9;
}

.nav-lessons {
	background-color: #2F394C;
	color: white;
	padding: 10px;
}
.nav-lessons h1 {
	font-weight: bold;
	text-shadow: 2px 2px darkblue;
	padding-left: 10px;
}
.navigation {
	background-color: #4985CF !important;
    box-shadow: 0 4px 7px 0 hsla(0,0%,50%,.35);
}
.nav-link a {
	color: #f7f7f7 !important;
	font-weight: bold;
}
.nav-link a:hover {
	text-shadow: 2px 2px darkblue;
	color: white !important;
}
.bold {
	font-weight: bold;
}
.grey {
	color: grey;
}
.dimgrey {
	color: dimgrey;
}
/*CONTACTS SECTION*/
.contacts-section {
	background-color: #f9f9f9;
	box-shadow: inset 0 0 5px #000000;
	padding: 4px;
}

.new-contact {
	margin: 25px 0;
}
#search {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 90%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 40px;
}
.new-contact {
	width: 90%;
	outline: none !important;
}
.sort {
	background-color:#F1F1F3;
	padding: 15px;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}
.sort-btn {
	background-color: #F1F1F3 !important;
	border: 1px solid grey;
	padding: 0 10px;
	width: 170px;
	border-radius: 2px;
}

#contacts {
	height: 800px;
	overflow-y: scroll;
	overflow-x: hidden;
	box-shadow: 0 2px 3px 1px #838391;
}

#contacts-list li {
    background-color:#F4F6FA;
    padding: 10px;
    width: 100%;
    position: relative;
	box-shadow: inset 0 0 0.5px #000000;
}

#contacts-list li:hover {
	background-color: #F4F7FD;
	cursor: pointer;
}

#contacts-list li:hover .fa-chevron-right {
	display: block;
}
.con-name-holder {
	display: inline-block;
}
.contact-li br {
	display: none;
}

.fa-chevron-right {
	position: absolute;
	right: 10px;
	top: 40%;
	display: none;
}

#contacts-list li img {
     width: 50px;
     margin-right: 20px;
     margin-left: 10px;
}

#contacts-list img, #contacts-list span {
	display: inline !important;
}

#contacts::-webkit-scrollbar {
    width: 6px;
}

#contacts::-webkit-scrollbar-track {
    border-radius: 10px;
}

#contacts::-webkit-scrollbar-thumb {
    background: rgba(184, 186, 190, 0.8);
    border-radius: 6px;
}
#contacts::-webkit-scrollbar-thumb:hover {
    background: dimgrey; 
}
/*CONTACT DETAILS*/
.contact-details {
	margin-bottom: 20px;	
}

#contact-name {
	font-size: 25px;
	margin: 3rem;
	display: inline-block;
}
.edit {
	display: inline-block;
	border: 1px solid grey;
	outline: none;
	padding: 0px 10px;
	background-color: #F1F1F3;
}
#contact-img {
	background-image: url("images/person2.jpg");
	width: 90%;
	height: 290px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-left: 3rem;
}
#notes, #contact-info {
	margin-left: 3rem;
	padding-top: 10px;
}
#contact-info {
	width: 80%;
}
.billing {
	padding-top: 10px;
}
.right-contact-details  h4 {
	margin-bottom: 20px;
}
#contact-con {
	width: 50px;
}
/*SCHEDULE*/
.schedule-wrapper {
	padding: 0px;
}
.schedule-header {
	width: 100%;
	padding-left: 40px;
	background-color: #F1F1F3;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}
.schedule-header h3 {
	margin: 15px 0;
}
#lessons {
	background-color: #F4F6FA; 
	padding: 40px;
	height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#lessons::-webkit-scrollbar {
    width: 6px;
}

#lessons::-webkit-scrollbar-track {
    border-radius: 10px;
}

#lessons::-webkit-scrollbar-thumb {
    background: rgba(184, 186, 190, 0.8);
    border-radius: 6px;
}
#lessons::-webkit-scrollbar-thumb:hover {
    background: dimgrey; 
}

.lesson {
	border: 1px solid lightgrey;
	border-radius: 5px;
	position: relative;	
	box-shadow: 4px 4px 10px 1px #828282;
	margin-bottom: 25px;
	background-color:#F9F9F9;
}

.lesson-border, .lesson-border1, .lesson-border2 {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 10px;
	border-radius: 5px 2px 2px 5px;
}
.lesson-border {
	background: linear-gradient(90deg, rgba(252,112,5,1) 36%, rgba(247,170,45,1) 72%);	
}
.lesson-border1 {
	background: linear-gradient(90deg, rgba(68,157,68,1) 0%, rgba(115,207,37,1) 63%);
}
.lesson-border2 {
	background: linear-gradient(90deg, rgba(201,48,44,1) 36%, rgba(254,0,0,1) 72%);
}
.hourglass {
	width: 20px;
	padding-bottom: 10px;
}
.lesson-day {
	padding: 15px;
	border-bottom: 1px solid lightgrey;
}
.class-day {
	color: dimgrey;
	font-size: 22px;
	padding-left: 15px;
	padding-right: 5px;
}
.class-time {
	color: dimgrey;
	font-size: 22px;
	padding-right: 15px;
}
.class-week {
	color: lightgrey;
	font-size: 20px;
	padding-left: 5px;
}
.btn-action {
	background-color: #F9F9F9;
	border-radius: 3px;
}
.lesson-info {
	padding: 10px 30px;
}
.cut-text h4 { 
  text-overflow:ellipsis;
  overflow: hidden; 
  white-space: nowrap;
  width: 100%;
}
.lesson-status-wrapper {
	border: 1px solid crimson;
	border-radius: 5px;
}
.lesson-status {
	padding: 5px;	
}

.lesson-status span {
	margin-top: 5px;
	display: inline-block;
}

.btn-attended, .btn-missed {
	width: 100px;
	outline: none !important;
	margin: 0px 5px 5px 5px;
}

/*FOOTER*/
.footer {
	padding: 30px;
	background-color: #2F394C;
	color: white;
	box-shadow: 0 -3px 3px 3px #2F394C;
}

.footer h3 {
	font-weight: bold;
	text-shadow: 2px 2px darkblue;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 1140px) {
	.contact-details h4 {
		font-size: 15px;
	}
}

@media only screen and (max-width: 990px) {
	.class-day, .class-time {
		font-size: 18px;
	}
	.class-week {
		font-size: 16px;
	}
}

@media only screen and (max-width: 920px) {
	.contact-li br {
		display: block;	
	}
	.contact-li {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.con-name-holder {
		margin-top: 10px;
	}
	.fa-chevron-right {
		display: none !important;
	}
	.sort-btn {
		width: 150px;
	}
}

@media only screen and (max-width: 790px) {
	.class-week {
		font-size: 14px;
	}
	.lesson-status span {
		font-size: 13px;
	}
}

@media only screen and (max-width: 767px) {
	.navigation {
		text-align: center;
	}
	.contact-li br {
		display: none;	
	}
	#contacts {
		height: 250px;
	}
	#contact-img, #contact-info {
		width: 100%;
	}
	#contact-img, #notes, #contact-info, .right-contact-details{
		margin: 0 auto;
	}

	.right-contact-details  h4 {
	margin-bottom: 2px;
	font-size: 12px;
	}
	.lesson-status span, .hourglass {
		display: none;
	}
	.btn-attended, .btn-missed {
	   float: none !important;
	   margin: 5px;
	}
	#lessons {
		height: 400px;
	}
	.footer h3 {
		font-size: 15px;
	}

}

@media only screen and (max-width: 600px) {
	.lesson-day {
		height: 110px;
		text-align: center;
	}
	.class-day, .class-time {
		display: inline-block;
	}
	.class-week, .lesson-btn {
		display: block;
		margin-top:3px;
	}
	.lesson-btn {
		float: none !important;
	}
	.lesson-status-wrapper {
		text-align: center;
	}
	.lesson-info h4, .lesson-info h5 {
		margin: 4px 0;
	}
}







